.header-nav {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding-right: 2rem;
}

.header-title {
  margin: 0;
  padding: 0.5rem 1rem;
  color: #4e4376;
  font-size: 1.1rem;
}

.header-title a:hover {
  color: orange;
  transition: color 0.10s ease;
  font: bold;
  background-color: white;
  padding-bottom: 0.85rem;
  border-bottom: orange 0.75rem solid;
}

.menu-icon {
  width: 1.5rem;
}

.menu-icon:hover {
  cursor: pointer;
  transition: transform 0.2s;
  transform: scale(1.1);
  color: orange;
}

nav ul {
  display: none;
}

/* display is larger than cell phone */
@media (min-width: 600px) {
  .header-nav {
    flex-direction: row;
    align-items: center;
    font: 4rem;
  }

  .header-title {
    font-size: 1.2rem;
  }

  h1.header-nav {
    border-bottom: #4e4376 1px solid;
  }

  .menu-icon {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  } 
}