@import url('../styles/global.css');

.navigationBar {
  font-family: var(--body-font);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding-right: 2rem;
}

.header-title {
  color: var(--secondary-color);
}

.header-title {
  margin: 0;
  padding: 0.5rem 1rem;
  color: var(--secondary-color);
  font-size: 1.1rem;
  font-family: var(--body-font);
}

.header-title a {
  text-decoration: none;
}

.header-title a:hover {
  color: var(--primary-color);
  font-family: var(--header-font);
  transition: color 0.10s ease;
  font: bold;
  padding-bottom: 0.85rem;
}

.menu-icon {
  width: 1.5rem;
}

.menu-icon:hover {
  cursor: pointer;
  transition: transform 0.2s;
  transform: scale(1.1);
  color: var(--secondary-color);
}

nav {
  display: flex;
  justify-content: right;
}

nav ul,
nav li {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}

nav ul {
  margin: 0;
  padding: 0;
  display: none;
}

.gameButton {
  text-decoration: none;
  color: #4e4376;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 1rem 2rem;
}

.gameButton:hover {
  transition: transform 0.3s ease;
  background-color: #4e4376;
  color: white;
}

.gameButton:active {
  color: #2b5876;
  transition: 3s ease;
}

/* display is larger than cell phone */
@media (min-width: 600px) {
  .header-nav {
    flex-direction: row;
    align-items: center;
    font: 4rem;
  }

  .header-title {
    font-size: 1.2rem;
  }

  h1.header-nav {
    border-bottom: #4e4376 1px solid;
  }

  .menuButton {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}