@import url('../styles/global.css');

body {
    font-family: var(--body-font);
}

.landingPage {
    background: var(--background);
    /* background: #FFF; */
    width: 100%;
    color: #ffffff;
}

.landingPage-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.landingPage-header h1 {
    font-family: var(--header-font);
    font-size: 5rem;
    padding: 4rem 0 1rem 0;
    margin: 0;
    color: var(--third-color);
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--third-color);
    color: var(--secondary-color);
    /* background: linear-gradient(to top,
            rgba(78, 67, 118, 1) 20%,
            rgba(43, 88, 118, 1) 80%); */
    /* box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.5); */
    padding: 2rem;
    margin: 0 auto;
}

.about-section h2,
.about-section p {
    max-width: 700px;
}

.about-section h2 {
    padding: 1rem 0 0.5rem 0;
    margin: 0;
}

.about-section p {
    padding-bottom: 1rem;
    margin: 0;
}

.resume-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    /* box-shadow:inset 0rem 1rem 2rem rgba(0, 0, 0, 0.5); */
    padding: 2rem;
    margin: 0 auto;
    color: #000;
    height: 10vh;
}

.resume-section h2 {
    color: var(--secondary-color);
    margin: 0;
}

.games-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.5);
    background-color: var(--fourth-color);
    padding: 2rem 0rem 10rem;
}

.game-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.RPS, .todo-list {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0rem 1rem 2rem rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 10px;
    max-width: 300px;
    color: var(--primary-color);
}

.PlayNow {
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--body-font);
}

.PlayNow:hover {
    background-color: var(--secondary-color);
    box-shadow: inset 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.PlayNow:active {
    background-color: var(--primary-color);
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.5);
    transition: 0.10s ease;
}

/* small screens */
@media (max-width: 565px) {
    .landingPage-header {
        height: 25vh;
    }
    .landingPage-header h1 {
        font-size: 3.5rem;
        padding: 2rem 0 1rem 0;
    }

    main {
        background: #FFF;
        background: linear-gradient(178deg,
                rgba(255, 255, 255, 1) 10%,
                rgba(43, 88, 118, 1) 11%,
                rgba(78, 67, 118, 1) 100%);
    }

    .game-list {
        display: flex;
        flex-direction: column;
    }

    .RPS, .todo-list {
        max-width: 300px;
    }


}