div {
    color: white;
}

section a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 1rem 2rem;
    background-color: #2b5876;
    border-radius: 10px;
}