
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap');

body {
    margin: 0;
    display: box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    background-color: #4f46e5;
    color: #fff;
    font-family: 'Playwrite DK Loopet', cursive;
    font-size: 20px;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}