/* @import url('../styles/global.css'); */
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Londrina+Shadow&family=Londrina+Solid:wght@100;300;400;900&display=swap');

:root {
  --main-text-color: white;
  --secondary-text-color: white;

  --main-color: #fff;
  /* --secondary-color: #08abc0; */
  --third-color: #302b63;
  --fourth-color: #24243e;
  --fifth-color: #0f0c29;

  --header-background: #0f0c29;

  --sb-color: #414345;
  --sb-dark-color: #232526;

  --game-body-font: "Atma", system-ui;
  --header-font:"Londrina Shadow", sans-serif;

  --dark-header-background: #8d77ab;
  --dark-primary-background: #393540;
  --dark-secondary-background: #23202a;
  --dark-primary-text: #f2efeb;
  --dark-secondary-text: #f2efeb;
  --dark-primary-button: #735e90;
  --dark-secondary-button: #8d77ab;
  --dark-accent: #aed4da;

  --light-header-background: #393540;
  --light-primary-background: #aed4da;
  --light-secondary-background: #f2efeb;
  --light-primary-text: #f2efeb;
  --light-secondary-text: #393540;
  --light-primary-button: #a891c6;
  --light-secondary-button: #393540;
  --light-accent: #1b988b;

}      

.darkMode {
  --main-text-color: white;
  --secondary-text-color: black;
  
  --fifth-color: #845ec2 ;
  --fourth-color: #845ec2;
  --third-color: #c4f3fb;
  --main-color: #c4f3fb;

  --header-background: #fff;
  
  --sb-color: #845ec2;
  --sb-dark-color: #845ec2;
}

* {
    margin: 0;
    padding: 0;
}

/* main {
    background-color: var(--dark-secondary-background);
} */

.gameContainer {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    text-align: center;
    width: 100%;
    font-family: var(--game-body-font);
    background-color: var(--dark-secondary-background);
    height: 100vh;
}

.gameHeader-background {
    background-color: var(--dark-header-background);
    color: var(--dark-primary-text);
    padding-bottom: 1rem;
    width: 100%;
}

.game-section {
    background-color: var(--dark-primary-background);
    color: var(--dark-primary-text);
}

.game-section-top, .game-section-headers, .results, .scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.game-section-top {
    padding-top: 0;
}

.gameOutcomeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

#gameOutcome {
    font-size: 1.5rem;
    font-weight: bold;
}

.playAgainDirections{
    font-size: 1rem;
    font-weight: bold;
    color: var(--dark-header-background);
}

.userHighlight, .compHighlight {
    border-radius: 1.5rem;
    box-shadow: none;
}

#userEmoji, #computerEmoji {
    font-size: 3rem;
    border-radius: 1.5rem;
    box-shadow: inset 0rem 0rem 0.5rem rgba(0, 0, 0, 0.5);
}

.under-section {
    color: var(--dark-secondary-text);
}

button {
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font: bold 1rem "Atma", system-ui;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.startover {
    background-color: var(--dark-primary-button);
    color: var(--dark-primary-text);
    top: -2rem;
    position: relative;
}

.gameButton {
    background-color: var(--dark-primary-button);
    color: var(--dark-primary-text);
    opacity: 0.8;
    box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

button:hover {
    opacity: 1;
    transition: all 0.3s ease;
    transform: scale(1.05);
    box-shadow: none;
    background-color: var(--dark-secondary-button);
}

button:active {
    transition: all 0.13s ease;
}

@media (min-width: 768px) {

    .gameHeader, .game-section-top, .game-section-headers, .results, .gameOutcomeContainer, .scoreboard {
        width: 700px;
        margin: 0 auto;
    }

    #userEmoji, #computerEmoji {
        font-size: 4rem;
    }
    
}